#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

firewall --disabled
selinux disabled
install

# Use graphical install
graphical

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted #### **PUT YOUR HASHED ROOT PASSWORD HERE**

# System services
services --enabled="chronyd"

# System timezone
timezone Africa/Cairo --isUtc
user --groups=wheel --name=**PUT YOUR USER NAME HERE**  --password=**PUT YOUR USER PASSWORD HERE** --iscrypted --gecos="**PUT USER REAL NAME HERE**"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm

# Partition clearing information
clearpart --none --initlabel

reboot


%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
    
